nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
   align-items: center;
 }
 .center {
   text-align: center;
 }
 .btn {
   border: lpx solid #f83c7d;
   background: #f83c7d;
   color:white;
   padding: 5px;
   border-radius: 5px;
 }
 nav ul li {
   margin: 30px 30px;
   font-family: 'lato';
   font-size: 20px;
   border-radius: 5px;
   border: 2px solid palevioletred;
   padding: 20px;

 }

 nav ul li a {
   text-decoration: none;
   color: palevioletred;
 }
